.sign-in-card {
  padding: 200px;
}

.sign-up-card {
  margin-top: 10vh;
  margin-bottom: 10vh;
  justify-content: center;
  alignItems: center;
}

.sign-in-left-container {
  display: flex;
  alignItems: center
}

.sign-in-left-img {
  width: 60px;
  heigh: 50px
}
